body {
  position: relative;
  overflow-x: hidden;
  height: 100%; }

html {
  height: 100%; }

/*------------------------------- */
/*           Wrappers */
/*------------------------------- */
#wrapper {
  top: 50px;
  padding-left: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #wrapper .panel-heading ul {
    margin-bottom: -11px; }
  #wrapper.toggled {
    padding-left: 300px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 300px; }
    #wrapper.toggled #page-content-wrapper {
      margin-right: -300px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-right: 1px solid #e7e7e7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #sidebar-wrapper::-webkit-scrollbar {
    display: none; }

#page-content-wrapper {
  width: 100%;
  padding-top: 67px; }

/*------------------------------- */
/*     Sidebar nav styles */
/*------------------------------- */
.sidebar-nav {
  position: absolute;
  top: 90px;
  width: 300px;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  list-style: none; }
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px; }

/*------------------------------- */
/*       Hamburger-Cross */
/*------------------------------- */
.hamburger {
  position: fixed;
  top: 60px;
  z-index: 1000;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: -40px;
  background: transparent;
  border: none; }
  .hamburger:hover, .hamburger:focus, .hamburger:active {
    outline: none; }
  .hamburger.is-closed:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%; }
  .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%; }
  .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
    background-color: #777; }
  .hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px; }
  .hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    background-color: #777; }
  .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px; }
  .hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }
  .hamburger.is-open .hamb-middle {
    display: none; }
  .hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }
  .hamburger.is-open:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out; }
  .hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out; }

#tab3default > div {
  padding-left: 0;
  padding-right: 0; }
#tab3default .alert {
  position: absolute;
  padding: 2px;
  border: 1px solid transparent;
  top: -10px;
  right: -10px;
  font-size: x-small; }
#tab3default .title {
  color: #777;
  float: left;
  margin-right: 5px; }
  #tab3default .title .logo {
    height: 19px; }
#tab3default .detail {
  float: right; }
#tab3default .list-group .panel-group {
  margin-top: 20px; }
  #tab3default .list-group .panel-group .panel-body {
    padding-bottom: 0;
    color: #777; }
    #tab3default .list-group .panel-group .panel-body .content {
      padding: 10px;
      background-color: #f5f5f5;
      margin-bottom: 15px; }
      #tab3default .list-group .panel-group .panel-body .content .info {
        border-bottom: 1px solid #f5f5f5; }
    #tab3default .list-group .panel-group .panel-body .members .profile {
      color: #777;
      padding: 0 !important;
      overflow: auto;
      margin-left: 10px !important;
      margin-right: 10px !important; }
      #tab3default .list-group .panel-group .panel-body .members .profile .afiliate, #tab3default .list-group .panel-group .panel-body .members .profile .cancel {
        margin-top: 10px !important;
        margin-right: 10px !important; }
      #tab3default .list-group .panel-group .panel-body .members .profile img {
        background-color: white;
        padding: 10px;
        margin: 7px; }
      #tab3default .list-group .panel-group .panel-body .members .profile .content {
        margin-bottom: 0; }
  #tab3default .list-group .panel-group .panel-title {
    overflow: auto; }

.map_canvas {
  display: block;
  width: 100%;
  height: 250px;
  margin-bottom: 15px; }

.panel-default > .panel-heading .badge {
  background-color: #777; }

.profile {
  color: #777; }
  .profile img {
    background-color: white;
    padding: 10px;
    margin-right: 7px; }
  .profile .content .title {
    font-weight: bold; }

.spin {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
